<h2 class="text-white">
    Today's featured quotes
    <img src="/assets/you.png" class="img-right" alt="sharing is caring">
</h2>
<div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Quote</div>
                <div class="card-body">
                    <h5 class="card-title">"Insanity: doing the same thing over and over again and expecting different results."</h5>
                    <footer class="blockquote-footer">
                        Author <cite title="Author"> <h6><em>Albert Einsteinm</em></h6> </cite>
                    </footer>                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Quote</div>
                <div class="card-body">
                    <h5 class="card-title">"Imagination is more important than knowledge."</h5>
                    <footer class="blockquote-footer">
                        Author <cite title="Author"> <h6><em>Albert Einsteinm</em></h6> </cite>
                    </footer>
                </div>    
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Quote</div>
                <div class="card-body">
                    <h5 class="card-title">"Logic will get you from A to B. Imagination will take you everywhere."</h5>
                    <footer class="blockquote-footer">
                        Author <cite title="Author"> <h6><em>Albert Einsteinm</em></h6> </cite>
                    </footer>
                </div>
            </div>
        </div>  
    </div>
    <div class="row card-column">
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Quote</div>
                <div class="card-body">
                    <h5 class="card-title">"Two things are infinite: the universe and human stupidity; and I'm not sure about the universe."</h5>
                    <footer class="blockquote-footer">
                        Author <cite title="Author"> <h6><em>Albert Einsteinm</em></h6> </cite>
                    </footer>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Quote</div>
                <div class="card-body">
                    <h5 class="card-title">"Life is like riding a bicycle. To keep your balance you must keep moving."</h5>
                    <footer class="blockquote-footer">
                        Author <cite title="Author"> <h6><em>Albert Einsteinm</em></h6> </cite>
                    </footer>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Quote</div>
                <div class="card-body">
                    <h5 class="card-title">"No problem can be solved from the same level of consciousness that created it."</h5>
                    <footer class="blockquote-footer">
                        Author <cite title="Author"> <h6><em>Albert Einsteinm</em></h6> </cite>
                    </footer>
                </div>
            </div>
        </div> 
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Quote</div>
                <div class="card-body">
                    <h5 class="card-title">"The important thing is not to stop questioning. Curiosity has its own reason for existing."</h5>
                    <footer class="blockquote-footer">
                        Author <cite title="Author"> <h6><em>Albert Einsteinm</em></h6> </cite>
                    </footer>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Quote</div>
                <div class="card-body">
                    <h5 class="card-title">"I have no special talents. I am only passionately curious."</h5>
                    <footer class="blockquote-footer">
                        Author <cite title="Author"> <h6><em>Albert Einsteinm</em></h6> </cite>
                    </footer>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Quote</div>
                <div class="card-body">
                    <h5 class="card-title">"Anyone who has never made a mistake has never tried anything new."</h5>
                    <footer class="blockquote-footer">
                        Author <cite title="Author"> <h6><em>Albert Einsteinm</em></h6> </cite>
                    </footer>
                </div>
            </div>
        </div>    
    </div>          
    <br>
    <div>
        <h2 class="text-center text-white"><b> Share your quotes </b></h2>
    <div class="card mb-4 bg-dark">
        <div class="card-header text-white-50">
            <h4>
                Today's favourite    quote
                <img src="/assets/you.png" class="img-right float-right" alt="sharing is caring">
                <!-- <img src="/assets/spacelogo.gif" class="img float-right" alt="logo"> -->
            </h4>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0 text-white p-2">
                <p> 
                    <!-- "Insanity: doing the same thing over and over again and expecting different results."<br> -->
                    <!-- "Imagination is more important than knowledge."<br> -->
                    "If you can't explain it simply, you don't understand it well enough."<br>
                    <!-- "Two things are infinite: the universe and human stupidity; and I'm not sure about the universe."<br> -->
                    <!-- "Life is like riding a bicycle. To keep your balance you must keep moving."<br> -->
                    <!-- "No problem can be solved from the same level of consciousness that created it."<br> -->
                    <!-- "The important thing is not to stop questioning. Curiosity has its own reason for existing."<br> -->
                    <!-- "I have no special talents. I am only passionately curious."<br> -->
                    <!-- "Anyone who has never made a mistake has never tried anything new."<br> -->
                    <!-- "Logic will get you from A to B. Imagination will take you everywhere." -->
                </p>
                <footer class="blockquote-footer">
                    Author <cite title="Author"> <h6><em>Albert Einsteinm</em></h6> </cite>
                </footer>
            </blockquote>
        </div>
    </div>
    <br>
    </div>
