<br>
<div class="container mr-10">
  <!-- <div class="card" style="width:500px;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text primary-color p-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-dark">Go!</a>
    </div> 
  </div> -->
  <br>
  <div class="card">
    <div class="card-header">
      {{ header }}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0 primary-color p-2">
        <p>{{ Quotes }}.</p>
        <footer class="blockquote-footer">
          Author <cite title="Source Title"> {{ Author }}</cite>
        </footer>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">

    </div>
  </div>
</div>
<router-outlet></router-outlet> 