<br>
<div class="container mr-10">
    <br>
    <div>
        <h2 class="text-center text-white"><b> Quotes !!</b></h2>
    <div class="card mb-4 bg-dark">
        <div class="card-header text-white-50">
            Today's featured quotes 
            <div class="float-right">by a theoretical physicist</div>  
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0 text-white p-2">
                <p> 
                    Insanity: doing the same thing over and over again and expecting different results.<br>
                    Imagination is more important than knowledge.<br>
                    If you can't explain it simply, you don't understand it well enough.<br>
                    Two things are infinite: the universe and human stupidity; and I'm not sure about the universe.<br>
                    Life is like riding a bicycle. To keep your balance you must keep moving.<br>
                    No problem can be solved from the same level of consciousness that created it.<br>
                    The important thing is not to stop questioning. Curiosity has its own reason for existing.<br>
                    I have no special talents. I am only passionately curious.<br>
                    Anyone who has never made a mistake has never tried anything new.<br>
                    Logic will get you from A to B. Imagination will take you everywhere.
                </p>
                <footer class="blockquote-footer">
                    Author <cite title="Source Title"> Albert Einstein </cite>
                </footer>
            </blockquote>
        </div>
    </div>
    <br>
    </div>
</div>

<app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

<div class="container mr-10">
    
    <table class="table table-sm table-dark">
        <thead>
            <tr>
                <th scope="col" class="text-white-50">Recently added Quotes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <div *ngFor= 'let quote of quotes;let i = index'>
                       
                    <td id="{{i}}"> {{ quote.quote}} {{ quote.mediumDate|date }}</td>
                    <td class="blockquote-footer float-right">
                        Author <br> <cite title="Source Title"> {{ quote.author }} </cite>
                    </td>
                    <td class="blockquote-footer float-left">
                        Submitter <br> <cite title="Source Title"> {{ quote.submitter }} </cite>
                    </td>
                     
                    
                    <button (click)='toggleDetails(i)' class="btn btn-outline-light m-2">Quote Details</button>

                    <div *ngIf='quote.showDescription'>
                        <app-quote-detail  *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
                    </div>
                    
                                                 
                </div>
            
            </tr>
                
        </tbody>
    </table>     
    
</div>

 