<form class="container">
    <div class="form-group">
        <h1>
        <label for="QuoteInput" class="text-white"><b>Quote</b></label>
        </h1>
        <input type="text" class="form-control bg-dark" id="QuoteInput" placeholder="write your quote...">
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control bg-dark" placeholder="Author's name">
        </div>
        <div class="col">
            <input type="text" class="form-control bg-dark" placeholder="submitter's name">
        </div>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-dark btn-sm mt-6">Small button</button>
    </div>
</form>